﻿@model FlexiGrid.Models.StudentDetail

@{ ViewBag.Title = "Create"; }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StudentDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentId)
            @Html.ValidationMessageFor(model => model.StudentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegNo)
            @Html.ValidationMessageFor(model => model.RegNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PresentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PresentAddress)
            @Html.ValidationMessageFor(model => model.PresentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PremanentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PremanentAddress)
            @Html.ValidationMessageFor(model => model.PremanentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OptionalContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionalContactNo)
            @Html.ValidationMessageFor(model => model.OptionalContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.OptionalEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionalEmail)
            @Html.ValidationMessageFor(model=>model.OptionalEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NationalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NationalID)
            @Html.ValidationMessageFor(model => model.NationalID)
        </div>
        
        <div class="editor-lebel">
            @Html.LabelFor(model=>model.Sex,"Sex")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Sex", new List<SelectListItem>
                {
                    new SelectListItem{Text = "Male",Value = "Male"},
                    new SelectListItem{Text = "Female", Value = "Female"}
                
                },"--Select--")
            
            @Html.ValidationMessageFor(model => model.Sex)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptID, "Department")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeptID", "--Select--");
            @Html.ValidationMessageFor(model => model.DeptID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReligionID, "Religion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReligionID", "--Select--")
            @Html.ValidationMessageFor(model => model.ReligionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdmitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdmitDate)
            @Html.EditorFor(model => model.AdmitTime)
            <input id="setTimeButton" type="button" value="Set Current Time" />
            @Html.ValidationMessageFor(model => model.AdmitDate)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
}
<script type="text/javascript">
     require(['crud'], function(crud) {
         //console.log(crud.addCustomer());
     });
</script>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
