﻿@model FlexiGrid.Models.StudentDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>StudentDetail</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.FirstName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.FirstName)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.LastName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.LastName)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.StudentId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.StudentId)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.RegNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RegNo)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.PresentAddress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PresentAddress)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.PremanentAddress)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.PremanentAddress)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ContactNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ContactNo)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.OptionalContactNo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OptionalContactNo)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Email)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.OptionalEmail)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.OptionalEmail)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.NationalID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NationalID)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DeptID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Department.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ReligionID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Religion.Name)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Sex)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Sex)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DateOfBirth)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.AdmitDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AdmitDate)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.AdmitTime)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AdmitTime)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Website)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Website)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "Index")
        </p>
    }

</body>
</html>
