﻿@model FlexiGrid.Models.StudentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>StudentDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PresentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PresentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PremanentAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PremanentAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OptionalContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OptionalContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NationalID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NationalID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Religion.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdmitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdmitDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
