﻿@model FlexiGrid.Models.StudentDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StudentDetail</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudentId)
            @Html.ValidationMessageFor(model => model.StudentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RegNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RegNo)
            @Html.ValidationMessageFor(model => model.RegNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PresentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PresentAddress)
            @Html.ValidationMessageFor(model => model.PresentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PremanentAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PremanentAddress)
            @Html.ValidationMessageFor(model => model.PremanentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OptionalContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OptionalContactNo)
            @Html.ValidationMessageFor(model => model.OptionalContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NationalID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NationalID)
            @Html.ValidationMessageFor(model => model.NationalID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptID, "Department")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeptID", String.Empty)
            @Html.ValidationMessageFor(model => model.DeptID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReligionID, "Religion")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReligionID", String.Empty)
            @Html.ValidationMessageFor(model => model.ReligionID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfBirth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfBirth)
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AdmitDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AdmitDate)
            @Html.ValidationMessageFor(model => model.AdmitDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>